{% extends 'layout/base.html' %}
{% load static %}
{% block title %} {{page_title}} {% endblock %}

{% block content %}
{% include 'layout/partials/_pagetitle.html' %}


<!-- Faq Two -->
<section class="faq-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="left-box">
                    <div class="sec-title_title">
                        FAQ’s
                        <div class="sec-title_dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <h2 class="sec-title_heading">Need Answer? <br> Find Them Here</h2>
                </div>
                <div class="right-box">
                    <div class="sec-title_text">We’ve grown up with the internet revolution, and we <br> know how to
                        deliver on its promise of improved business <br> efficiency. We work throughout the</div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <!-- Accordion Box -->
                <ul class="accordion-box style-two">

                    <!-- Block -->
                    <li class="accordion block active-block">
                        <div class="acc-btn active">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What are the basics of IT?
                        </div>
                        <div class="acc-content current">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What are technology skills?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What are the two basic concepts of technology?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What are the main points of information technology?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What are some questions about information technology?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <!-- Accordion Box -->
                <ul class="accordion-box style-two">

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>How
                            Can IT Solutions Help?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>How
                            Do I Choose an IT Solution?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>
                            What Are the Benefits of IT Solutions?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>How
                            can businesses ensure data IT solutions?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>How
                            can IT solutions improve among teams?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon"><img
                                        src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt="" /></span></div>How
                            Do I Choose an IT Solution?
                        </div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">We are web designers, developers, project managers, And digital
                                    marketing professionals dedicated developers.</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

{% include 'layout/partials/_testmonials.html' %}

{% include 'layout/partials/_footer2.html' %}

{% endblock %}