{% extends 'layout/base.html' %}
{% load static %}
{% block title %} {{page_title}} {% endblock %}

{% block content %}
{% include 'layout/partials/_pagetitle.html' %}
<!-- Sidebar Page Container -->
<div class="sidebar-page-container left-sidebar">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">

                    <!-- Category Widget -->
                    <div class="sidebar-widget category-widget">
                        <ul class="category-list">
                            {% for course in track.courses.all %}
                            <li>
                                <a href="{% url 'course' course.id %}">
                                    {% if course.thumbnail %}
                                    <span class="icon my-2">
                                        <img src="{{course.thumbnail.url}}" alt="" />
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <img src="{% static 'assets/images/icons/service-2.svg' %}" alt="" />
                                    </span>
                                    {% endif %}
                                    {{course.title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Rating Widget -->
                    <div class="sidebar-widget rating-widget">
                        <div class="widget-content">
                            <div class="rating-widget_rating">4.9</div>
                            <div class="rating-widget_authors">
                                <ul>
                                    <li><img src="{% static 'assets/images/main-slider/author-1.png' %}" alt="" /></li>
                                    <li><img src="{% static 'assets/images/main-slider/author-2.png' %}" alt="" /></li>
                                    <li><img src="{% static 'assets/images/main-slider/author-3.png' %}" alt="" /></li>
                                    <li><img src="{% static 'assets/images/main-slider/author-4.png' %}" alt="" /></li>
                                </ul>
                                <div class="rating-widget_reviews">
                                    Our Client <br> (5k + Reviews)
                                </div>
                            </div>
                            <h4 class="rating-widget_title">Customer experiences that speak for themselves</h4>
                            <!-- Button Box -->
                            <div class="rating-widget_title-button">
                                <a href="testimonial.html" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">Enroll Now</span>
                                        <span class="text-two">Enroll Now</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <!-- Service Detail -->
                <div class="service-detail">
                    <div class="service-detail_inner">
                        <div class="service-detail_image">
                            <img src="{{track.image.url}}" alt="" />
                            <div class="service-detail_tag">
                                <span>Business Development</span>
                            </div>
                        </div>
                        <h2 class="service-detail_title">{{track.title}}</h2>
                        <div class="service-detail_text">{{track.description}}</div>
                        <h3 class="service-detail_subtitle">LEARNIT Offerings</h3>
                        <ul class="service-detail_list">
                            <li>We believe that the human essential to start any successful project and that this where
                                splendid emotion between the re-generated company.</li>
                            <li>We believe that the human essential to start any successful project and that this where
                                splendid emotion between the re-generated company.</li>
                        </ul>
                        <h3 class="service-detail_subtitle">What's included in {{track.title}}?</h3>
                        <ul class="service-detail_list-two">
                            {% for course in track.courses.all %}
                            {% for item in course.outcomes.all %}
                            <li>{{item}}</li>
                            {% endfor %}
                            {% endfor %}

                        </ul>
                        <div class="service-detail_text">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa Aliquam in hendrerit
                            urna. Pellentesque sit amet sapien fringilla, mattis l consectetur, ultrices mauris.
                            Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
                            suscipit magna Pellentesque commodo lacus at sodales sodales. Quisque sagitt
                            condimentum.<br>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa Aliquam in hendrerit
                            urna. Pellentesque sit amet sapien fringilla, mattis l consectetur, ultrices mauris.
                            Maecenas vitae mattis
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->

<!-- Video One -->
<section class="video-one style-two">
    <div class="auto-container">
        <!--Video Box-->
        <div class="video-box">
            <figure class="video-image">
                <img src="{% static 'assets/images/resource/video-img.jpg' %}" alt="">
            </figure>
            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video overlay-box"><span><img
                        src="{% static 'assets/images/icons/play.png' %}" alt="" /><i class="ripple"></i></span></a>
        </div>
    </div>
</section>
<!-- End Video One -->

<!-- Process One -->
<section class="process-one style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="sec-title_title">
                work process
                <div class="sec-title_dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h2 class="sec-title_heading">See the value in <br> our It consulting <br> solutions</h2>
        </div>
        <div class="row clearfix">

            <!-- Step Block One -->
            <div class="step-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="step-block_one-inner">
                    <div class="step-block_one-bg"
                        style="background-image:url({% static 'assets/images/background/pattern-5.png' %})">
                    </div>
                    <div class="step-block_one-number"><span>01</span>Step</div>
                    <h4 class="step-block_one-heading">Discover the Project</h4>
                    <div class="step-block_one-text">Our IT consultants collaborate with your team to fully understand
                        your unique needs.</div>
                </div>
            </div>

            <!-- Step Block One -->
            <div class="step-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="step-block_one-inner">
                    <div class="step-block_one-bg"
                        style="background-image:url({% static 'assets/images/background/pattern-5.png' %})">
                    </div>
                    <div class="step-block_one-number"><span>02</span>Step</div>
                    <h4 class="step-block_one-heading">Strategy Development</h4>
                    <div class="step-block_one-text">Our IT consultants collaborate with your team to fully understand
                        your unique needs.</div>
                </div>
            </div>

            <!-- Step Block One -->
            <div class="step-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="step-block_one-inner">
                    <div class="step-block_one-bg"
                        style="background-image:url({% static 'assets/images/background/pattern-5.png' %})">
                    </div>
                    <div class="step-block_one-number"><span>03</span>Step</div>
                    <h4 class="step-block_one-heading">Implementation the solution</h4>
                    <div class="step-block_one-text">Our IT consultants collaborate with your team to fully understand
                        your unique needs.</div>
                </div>
            </div>

            <!-- Step Block One -->
            <div class="step-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="step-block_one-inner">
                    <div class="step-block_one-bg"
                        style="background-image:url({% static 'assets/images/background/pattern-5.png' %})">
                    </div>
                    <div class="step-block_one-number"><span>04</span>Step</div>
                    <h4 class="step-block_one-heading">Monitoring Progress</h4>
                    <div class="step-block_one-text">Our IT consultants collaborate with your team to fully understand
                        your unique needs.</div>
                </div>
            </div>

        </div>

        <!-- Process One Content -->
        <div class="process-one_content">
            <!-- Button Box -->
            <div class="process-one_button">
                <a href="{% url 'about' %}" class="theme-btn btn-style-three">
                    <span class="btn-wrap">
                        <span class="text-one">Get Started</span>
                        <span class="text-two">Get Started</span>
                    </span>
                </a>
            </div>
            <div class="process-one_content-text">There are many variations of passages of lorem free market to <br>
                available, but the majority have alteration in some form, by injected <br> humour, or randomised words.
            </div>
        </div>

    </div>
</section>
<!-- End Process One -->

<!-- Faq One -->
<section class="faq-one">
    <div class="faq-one_bg" style="background-image:url({% static 'assets/images/background/faq-bg.png' %})"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Column -->
            <div class="faq-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="faq-one_images-outer">
                    <div class="faq-one_image">
                        <img src="{% static 'assets/images/resource/faq-1.jpg' %}" alt="">
                    </div>
                    <div class="faq-one_image-two">
                        <img src="{% static 'assets/images/resource/faq-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="faq-one_carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="faq-one_carousel-content">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim" style="perspective: 400px;">
                        <div
                            style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 316.5px 11.2px 0px; transform: translate3d(0px, 0px, 0px); opacity: 1;">
                            <div class="sec-title_title">{{track.title}} Faq's <div class="sec-title_dots">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div
                            style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 316.5px 70px 0px; transform: translate3d(0px, 0px, 0px); opacity: 1;">
                            <h2 class="sec-title_heading">Need Answer? Find Them Here</h2>
                        </div>
                    </div>

                    <!-- Accordion Box -->
                    <ul class="accordion-box">

                        <!-- Block -->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon"><img
                                            src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt=""></span></div>
                                What are the basics of IT?
                            </div>
                            <div class="acc-content current" style="">
                                <div class="content">
                                    <div class="text">We are web designers, developers, project managers, And digital
                                        marketing professionals dedicated developers.</div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon"><img
                                            src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt=""></span></div>
                                What are technology skills?
                            </div>
                            <div class="acc-content" style="display: none;">
                                <div class="content">
                                    <div class="text">We are web designers, developers, project managers, And digital
                                        marketing professionals dedicated developers.</div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon"><img
                                            src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt=""></span></div>
                                What are the two basic concepts of technology?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We are web designers, developers, project managers, And digital
                                        marketing professionals dedicated developers.</div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon"><img
                                            src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt=""></span></div>
                                What are the main points of information technology?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We are web designers, developers, project managers, And digital
                                        marketing professionals dedicated developers.</div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon"><img
                                            src="{% static 'assets/images/icons/faq-arrow.svg' %}" alt=""></span></div>
                                What are some questions about information technology?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We are web designers, developers, project managers, And digital
                                        marketing professionals dedicated developers.</div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faq One -->
{% include 'layout/partials/_footer2.html' %}


{% endblock %}