{% load static %}
<!-- About One -->
<section class="about-one">
    <div class="about-one_vector" data-parallax='{"y" : 120}'
        style="background-image:url({% static 'assets/images/background/pattern-3.png' %})"></div>
    <div class="about-one_pattern-layer"
        style="background-image:url({% static 'assets/images/background/pattern-1.png' %})"></div>
    <div class="about-one_pattern-two"
        style="background-image:url({% static 'assets/images/background/pattern-2.png' %})"></div>
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">
                            About Us
                            <div class="sec-title_dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <h2 class="sec-title_heading">Exclusive Technology to Provide IT Solutions and Services
                        </h2>
                    </div>
                    <div class="about-one_years">
                        <img src="{% static 'assets/images/resource/years.png' %}" alt="" />
                    </div>
                    <div class="about-one_text">Partnering with <span>LEARNIT-iT Consulting</span> ensures peace
                        of mind, knowing that your books are accurately updated in real time, and taxes are
                        filed and paid on schedule.</div>
                </div>
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="about-one_image-outer">
                        <div class="about-one_image">
                            <img src="{% static 'assets/images/resource/about-2.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="about-one_image-two">
                            <img src="{% static 'assets/images/resource/about-3.png' %}" alt="" />
                        </div>
                        <div class="about-one_carousel">

                            <div class="single-item_carousel swiper-container">
                                <div class="swiper-wrapper">

                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="review-block_one">
                                            <div class="review-block_one-quote">
                                                <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" />
                                            </div>
                                            <div class="review-block_one-text">
                                                We love sharing my shortcuts and techniques with our consultancy
                                                teams, providing immense satisfaction.
                                            </div>
                                            <div class="review-block_one-info">
                                                <i>4.5*</i>
                                                <strong>Julian Bray <span>CEO, Habib@arolax</span></strong>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="review-block_one">
                                            <div class="review-block_one-quote">
                                                <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" />
                                            </div>
                                            <div class="review-block_one-text">
                                                We love sharing my shortcuts and techniques with our consultancy
                                                teams, providing immense satisfaction.
                                            </div>
                                            <div class="review-block_one-info">
                                                <i>4.5*</i>
                                                <strong>Julian Bray <span>CEO, Habib@arolax</span></strong>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="review-block_one">
                                            <div class="review-block_one-quote">
                                                <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" />
                                            </div>
                                            <div class="review-block_one-text">
                                                We love sharing my shortcuts and techniques with our consultancy
                                                teams, providing immense satisfaction.
                                            </div>
                                            <div class="review-block_one-info">
                                                <i>4.5*</i>
                                                <strong>Julian Bray <span>CEO, Habib@arolax</span></strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About One -->