{% load static %}
<!-- Achieve One -->
<section class="achieve-one">
    <div class="achieve-one_bg" style="background-image:url({% static 'assets/images/background/1.png' %})">
    </div>
    <div class="achieve-one_vector" style="background-image:url({% static 'assets/images/background/vector-1.png' %})">
    </div>
    <div class="achieve-one_vector-two"
        style="background-image:url({% static 'assets/images/background/vector-2.png' %})"></div>
    <div class="auto-container">
        <div class="sec-title title-anim light">
            <h2 class="sec-title_heading">We are Happy for Our <br> Achievement</h2>
        </div>

        <div class="achieve-one_counter">
            <div class="row g-0 clearfix">
                <!-- Counter One -->
                <div class="counter-one_column col-lg-4 col-md-6 col-sm-12">
                    <div class="counter-one_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="counter-one_text">Satisfied Clients All <br> Over the World</div>
                        <div class="counter-one_count"><span class="odometer" data-count="8"></span>M</div>
                    </div>
                </div>
                <!-- Counter One -->
                <div class="counter-one_column col-lg-4 col-md-6 col-sm-12">
                    <div class="counter-one_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="counter-one_text">Clients Satisfactory <br> Reviews</div>
                        <div class="counter-one_count"><span class="odometer" data-count="316"></span></div>
                    </div>
                </div>
                <!-- Counter One -->
                <div class="counter-one_column col-lg-4 col-md-6 col-sm-12">
                    <div class="counter-one_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="counter-one_text">Success Rate</div>
                        <div class="counter-one_count"><span class="odometer" data-count="97"></span>%</div>
                    </div>
                </div>
                <!-- Counter One -->
                <div class="counter-one_column col-lg-4 col-md-6 col-sm-12">
                    <div class="counter-one_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="counter-one_text">Team Members</div>
                        <div class="counter-one_count"><span class="odometer" data-count="42"></span></div>
                    </div>
                </div>
                <!-- Counter One -->
                <div class="counter-one_column col-lg-4 col-md-6 col-sm-12">
                    <div class="counter-one_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="counter-one_text">Satisfied Clients All Over <br> the World</div>
                        <div class="counter-one_count"><span class="odometer" data-count="4500"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Achieve One -->