{% load static %}
<!-- Clients One -->
<section class="clients-one">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-3 col-md-12 col-sm-12">
                    <div class="clients-one_title">Worked with world famous <br> brands and partners</div>
                </div>
                <!-- Column -->
                <div class="column col-lg-9 col-md-12 col-sm-12">
                    <div class="clients-one_slider swiper-container">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="client-image">
                                    <a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt="" /></a>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="client-image">
                                    <a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt="" /></a>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="client-image">
                                    <a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt="" /></a>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="client-image">
                                    <a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt="" /></a>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="client-image">
                                    <a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt="" /></a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Clients One -->