{% load static %}
<!-- Experiance One -->
		<section class="experiance-one">
			<div class="marque-outer">
				<!-- Animation Mode -->
				<div class="animation_mode">
					<h1> chatbot &nbsp;</h1>
					<h1 class="light"> development &nbsp;</h1>
					<h1> chatbot &nbsp;</h1>
					<h1 class="light"> development &nbsp;</h1>
				</div>
				<!-- Animation Mode Two -->
				<div class="animation_mode-two">
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
					<h2>search engine marketing</h2>
				</div>
			</div>
			<div class="auto-container">
				<div class="experiance-one_years d-flex justify-content-end">
					<div class="experiance-one_years-inner">
						<div class="experiance-one_text">with more than 40+ years of experience, our team has become a
							leader in this digital universe</div>
						<!-- Button Box -->
						<div class="experiance-one_button">
							<a href="about.html" class="theme-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Get Started</span>
									<span class="text-two">Get Started</span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Marketing One -->
