{% load static %}


<!-- CTA One -->
<section class="cta-one style-two">
    <div class="auto-container">
        <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
            <div class="cta-one_content">
                <div class="cta-one_title">Can You find Now</div>
                <h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
            </div>
            <div class="cta-one_btn">
                <div class="news-three_button">
                    <a href="{% url 'contact' %}" class="theme-btn btn-style-one">
                        <span class="btn-wrap">
                            <span class="text-one">get a Quote</span>
                            <span class="text-two">get a Quote</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End CTA One -->


<!-- Main Footer2 -->
<footer class="footer-style_three">
    <div class="footer-style_three-bg"></div>
    <div class="footer-style_three-bg_image"
        style="background-image: url( {% static 'assets/images/background/footer-three_bg.png' %})"></div>
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-three_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-three_widget logo-widget">
                                <div class="footer-three_logo"><a href="{% url 'home' %}"><img
                                            src="{% static 'images/logo.jpg' %}" width="120" alt="" title=""></a></div>
                                <div class="footer-three_text">We work with a passion of taking challenges and creating
                                    new ones in advertising sector.</div>
                                <div class="footer-three_location-title">Location</div>
                                <div class="footer-three_location-text">84th Elmerghani St., Heliopolis, Cairo.</div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-three_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-three_widget gallery-widget">
                                <h3 class="footer-three_title">Gallery</h3>
                                <div class="gallery-outer d-flex flex-wrap clearfix">
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-1.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-1.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-2.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-2.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-3.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-3.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-4.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-4.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-5.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-5.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- instagram Block One -->
                                    <div class="instagram-block_one">
                                        <div class="instagram-block_one-inner">
                                            <div class="instagram-block_one-image">
                                                <img src="{% static 'assets/images/gallery/instagram-6.jpg' %}"
                                                    alt="" />
                                                <div class="instagram-block_one-overlay">
                                                    <a href="{% static 'assets/images/gallery/instagram-6.jpg' %}"
                                                        class="lightbox-image instagram-block_one-icon">
                                                        <i class=""><img
                                                                src="{% static 'assets/images/gallery/instagram.svg' %}"
                                                                alt="" /></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="footer-three_location-title">Open Hours:</div>
                                <div class="footer-three_location-text">Sat - Thu: 8 am - 5 pm, Friday: CLOSED</div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-three_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-three_widget links-widget">
                                <h3 class="footer-three_title">Categories</h3>
                                <ul class="footer-three_list">
                                    {% for cat in cats %}
                                    <li><a href="#">{{cat.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-three_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-three_widget appointment-widget">
                                <h3 class="footer-three_appointment-title">Need an Appointment</h3>
                                <div class="footer-three_appointment-subtitle">We build really better idea</div>
                                <div class="footer-three_appointment-text">Subscribe for newsletter & get day news,
                                    service update</div>
                                <div class="newsletter-box">
                                    <form method="post" action="{% url 'contact' %}">
                                        <div class="form-group">
                                            <input type="email" name="search-field" value=""
                                                placeholder="Enter Your Email" required>
                                            <button type="submit"
                                                class="theme-btn fa-solid fa-paper-plane fa-fw"></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Social Box -->
                                <div class="footer-three_socials">
                                    <a target="_blank" href="https://www.facebook.com/Learnitacademyy"><i
                                            class="fa-brands fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://instagram.com/"><i
                                            class="fa-brands fa-instagram"></i></a>
                                    <a target="_blank" href="https://www.linkedin.com/company/learnitacademyy/"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a target="_blank" href="https://wa.me/201090816894"><i
                                            class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="footer-three_bottom">
            <!-- Copyright -->
            <div class="footer-three_copyright">LEARNIT &copy; 2025. All Rights Reserved.</div>
        </div>

    </div>
</footer>
<!-- End Main Footer2 -->