{% load static %}
<!-- Incredible One -->
<section class="incredible-one">
    <div class="incredible-one_bg"></div>
    <div class="incredible-one_pattern"
        style="background-image:url({% static 'assets/images/background/pattern-9.png' %})"></div>
    <div class="incredible-one_vector"
        style="background-image:url({% static 'assets/images/background/pattern-10.png' %})"></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light title-anim">
            <div class="sec-title_title">
                Get to know
                <div class="sec-title_dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h2 class="sec-title_heading">incredible individuals</h2>
        </div>
        <div class="incredible-one_title">behind <br>company</div>
    </div>
</section>
<!-- End Incredible One -->