{% load static %}
<!-- news One -->
<section class="news-one">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title d-flex justify-content-between align-items-center flex-wrap">
            <div class="left-box title-anim">
                <div class="sec-title_title">
                    Our Latest News
                    <div class="sec-title_dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <h2 class="sec-title_heading">News & Articles</h2>
            </div>
            <div class="right-box title-anim">
                <!-- Button Box -->
                <div class="news-one_button">
                    <a href="blog.html" class="theme-btn btn-style-three">
                        <span class="btn-wrap">
                            <span class="text-one">Get Started</span>
                            <span class="text-two">Get Started</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <!-- News Block -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner">
                    <!-- Post Date -->
                    <div class="news-block_one-date_outer">
                        <div class="news-block_one-date">28/<span>06/2025</span></div>
                    </div>
                    <div class="news-block_one-image">
                        <a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-1.jpg' %}"
                                alt="" /></a>
                        <img src="{% static 'assets/images/resource/news-1.jpg' %}" alt="" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <ul class="news-block_one-meta">
                            <li><span class="icon fa-regular fa-comments fa-fw"></span>03</li>
                            <li><span class="icon fa-regular fa-user fa-fw"></span>Admin</li>
                        </ul>
                        <a class="news-block_one-arrow" href="blog-detail.html">
                            <img src="{% static 'assets/images/icons/blog-arrow.svg' %}" alt="" />
                        </a>
                    </div>
                    <div class="news-block_one-content">
                        <h3 class="news-block_one-title"><a href="blog-detail.html">How Managed IT Support a
                                Flexible Workspace</a></h3>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner">
                    <!-- Post Date -->
                    <div class="news-block_one-date_outer">
                        <div class="news-block_one-date">22/<span>04/2025</span></div>
                    </div>
                    <div class="news-block_one-image">
                        <a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-2.jpg' %}"
                                alt="" /></a>
                        <img src="{% static 'assets/images/resource/news-2.jpg' %}" alt="" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <ul class="news-block_one-meta">
                            <li><span class="icon fa-regular fa-comments fa-fw"></span>03</li>
                            <li><span class="icon fa-regular fa-user fa-fw"></span>Admin</li>
                        </ul>
                        <a class="news-block_one-arrow" href="blog-detail.html">
                            <img src="{% static 'assets/images/icons/blog-arrow.svg' %}" alt="" />
                        </a>
                    </div>
                    <div class="news-block_one-content">
                        <h3 class="news-block_one-title"><a href="blog-detail.html">Start writing Content that
                                brings Success</a></h3>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner">
                    <!-- Post Date -->
                    <div class="news-block_one-date_outer">
                        <div class="news-block_one-date">27/<span>05/2025</span></div>
                    </div>
                    <div class="news-block_one-image">
                        <a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-3.jpg' %}"
                                alt="" /></a>
                        <img src="{% static 'assets/images/resource/news-3.jpg' %}" alt="" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <ul class="news-block_one-meta">
                            <li><span class="icon fa-regular fa-comments fa-fw"></span>03</li>
                            <li><span class="icon fa-regular fa-user fa-fw"></span>Admin</li>
                        </ul>
                        <a class="news-block_one-arrow" href="blog-detail.html">
                            <img src="{% static 'assets/images/icons/blog-arrow.svg' %}" alt="" />
                        </a>
                    </div>
                    <div class="news-block_one-content">
                        <h3 class="news-block_one-title"><a href="blog-detail.html">writing Content that bring
                                Success Start</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- news One -->