{% load static %}
<!-- Program One -->
<section class="offer-one my-2">
    <div class="offer-one_color"></div>
    <div class="offer-one_bg-color" data-parallax='{"y" : 120}'></div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="offer-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="offer-one_image-outer">
                    <div class="offer-one_images_outer">
                        <!-- Image -->
                        <div class="offer-one_image active">
                            <img src="{% static 'assets/images/resource/offer-1.jpg' %}" alt="" />
                        </div>
                        <!-- Image -->
                        <div class="offer-one_image two">
                            <img src="{% static 'assets/images/resource/offer-2.jpg' %}" alt="" />
                        </div>
                        <!-- Image -->
                        <div class="offer-one_image three">
                            <img src="{% static 'assets/images/resource/offer-3.jpg' %}" alt="" />
                        </div>
                        <!-- Image -->
                        <div class="offer-one_image four">
                            <img src="{% static 'assets/images/resource/offer-4.jpg' %}" alt="" />
                        </div>
                    </div>
                    <!-- Award Box -->
                    <div class="step-award_box">
                        <div class="step-award_count"><span class="odometer" data-count="100"></span>+</div>
                        <span class="step-award_subtitle">Award Winning</span>
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="offer-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="offer-one_content-outer">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">
                            LEARNIT Acadmy
                            <div class="sec-title_dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <h2 class="sec-title_heading">Featured Tracks we're offering</h2>
                    </div>
                    <div class="offer-one_titles">
                        {% for track in tracks|slice:":5" %}
                        <!-- One -->
                        <div class="offer-one_title active">
                            <div class="offer-one_icon-outer">
                                <span class="offer-one_number">{{forloop.counter}}</span>
                                <div class="offer-one_icon">
                                    <img src="{% static 'assets/images/icons/offer-1.svg' %}" alt="" />
                                </div>
                            </div>
                            <h3 class="offer-one_heading"><a href="{% url 'track' track.id %}">{{track.title}}</a>
                            </h3>
                            <ul class="offer-one_tags">
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Advertisement</a></li>
                                <li><a href="#">Planing</a></li>
                            </ul>
                            <a class="offer-one_arrow" href="{% url 'track' track.id %}">
                                <img src="{% static 'assets/images/icons/offer_arrow.svg' %}" alt="" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Program One -->