{% load static %}
<!-- Team One -->
<section class="team-one">
    <div class="team-one_layer" style="background-image:url({% static 'assets/images/background/pattern-8.png' %})">
    </div>
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="sec-title_title">
                <div class="sec-title_dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                Our Team
                <div class="sec-title_dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h2 class="sec-title_heading">You will work with the <br> best people</h2>
        </div>

        <div class="row g-0 clearfix">

            <!-- Team Block One -->
            <div class="team-one_one">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="team-detail.html"><img
                                    src="{% static 'assets/images/resource/team-1.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="d-flex justify-content-between">
                            <div class="left-box">
                                <span class="cat">CEO Founder</span>
                                <h5 class="title"><a href="team-detail.html">Kathy Elizabet</a></h5>
                            </div>
                            <div class="right-box">
                                <div class="team-one_socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-one_one">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="team-detail.html"><img
                                    src="{% static 'assets/images/resource/team-2.png' %}" alt=""></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="d-flex justify-content-between">
                            <div class="left-box">
                                <span class="cat">CEO Founder</span>
                                <h5 class="title"><a href="team-detail.html">Kathy Elizabet</a></h5>
                            </div>
                            <div class="right-box">
                                <div class="team-one_socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-one_one">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="team-detail.html"><img
                                    src="{% static 'assets/images/resource/team-3.png' %}" alt=""></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="d-flex justify-content-between">
                            <div class="left-box">
                                <span class="cat">CEO Founder</span>
                                <h5 class="title"><a href="team-detail.html">Kathy Elizabet</a></h5>
                            </div>
                            <div class="right-box">
                                <div class="team-one_socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-one_one">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="team-detail.html"><img
                                    src="{% static 'assets/images/resource/team-4.png' %}" alt=""></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="d-flex justify-content-between">
                            <div class="left-box">
                                <span class="cat">CEO Founder</span>
                                <h5 class="title"><a href="team-detail.html">Kathy Elizabet</a></h5>
                            </div>
                            <div class="right-box">
                                <div class="team-one_socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-one_one">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="team-detail.html"><img
                                    src="{% static 'assets/images/resource/team-5.png' %}" alt=""></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="d-flex justify-content-between">
                            <div class="left-box">
                                <span class="cat">CEO Founder</span>
                                <h5 class="title"><a href="team-detail.html">Kathy Elizabet</a></h5>
                            </div>
                            <div class="right-box">
                                <div class="team-one_socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <div class="team-one_info">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="team-one_info-text">A clear,concise headline that captures attention and
                        communicates your value proposition </div>
                    <!-- Button Box -->
                    <div class="team-one_info-button">
                        <a href="contact.html" class="theme-btn btn-style-one">
                            <span class="btn-wrap">
                                <span class="text-one">Contact Now</span>
                                <span class="text-two">Contact Now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Team One -->