{% load static %}
<!-- Testimonial One -->
<section class="testimonial-one">
    <div class="testimonial-one_pattern-layer"
        style="background-image:url({% static 'assets/images/background/pattern-6.png' %})"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Column -->
            <div class="testimonial-one_content-column col-lg-5 col-md-12 col-sm-12">
                <!-- Sec Title -->
                <div class="sec-title title-anim">
                    <div class="sec-title_title">
                        Testimonials
                        <div class="sec-title_dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <h2 class="sec-title_heading">We want the best work For Us!</h2>
                    <div class="sec-title_text">Collaborate Consulting exists to find the place where to <br>
                        being seemingly disparate interests meet.</div>
                </div>
                <div class="testimonial-one_talk d-flex"><span class="up-down_animation">Lets Talk</span>
                    <i><img src="{% static 'assets/images/icons/hand-shake.png' %}" alt="" /></i>
                </div>
                <!-- Button Box -->
                <div class="testimonial-one_button d-flex justify-content-end">
                    <a href="contact.html" class="theme-btn btn-style-three">
                        <span class="btn-wrap">
                            <span class="text-one">Contact Us</span>
                            <span class="text-two">Contact Us</span>
                        </span>
                    </a>
                </div>
                <div class="about-one_arrows"
                    style="background-image:url({% static 'assets/images/icons/testimonial-arrow.png' %})">
                </div>
            </div>
            <!-- Column -->
            <div class="testimonial-one_carousel-column col-lg-7 col-md-12 col-sm-12">
                <div class="testimonial-one_carousel-content">
                    <div class="testimonial-one_carousel-layer"
                        style="background-image:url({% static 'assets/images/background/pattern-7.png' %})">
                    </div>

                    <div class="testimonial-one_carousel swiper-container">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <!-- Testimonial Block One -->
                                <div class="testimonial-block_one">
                                    <div class="testimonial-block_one-inner">
                                        <div class="testimonial-block_one-author">
                                            <div class="testimonial-block_one-author_image">
                                                <img src="{% static 'assets/images/resource/author-1.jpg' %}" alt="" />
                                            </div>
                                            Bradley Gordon
                                            <span>CEO & Founder, Archin Studio</span>
                                        </div>
                                        <div class="testimonial-block_one-text">“ A studio with passionate,
                                            professional and full creativity. Much more than i’m expect. Great
                                            services, high quality products & affordable prices. I’m extremly
                                            satisfied!. ”</div>
                                        <div class="testimonial-block_one-rating">
                                            5.0 &nbsp;
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <!-- Testimonial Block One -->
                                <div class="testimonial-block_one">
                                    <div class="testimonial-block_one-inner">
                                        <div class="testimonial-block_one-author">
                                            <div class="testimonial-block_one-author_image">
                                                <img src="{% static 'assets/images/resource/author-1.jpg' %}" alt="" />
                                            </div>
                                            Bradley Gordon
                                            <span>CEO & Founder, Archin Studio</span>
                                        </div>
                                        <div class="testimonial-block_one-text">“ A studio with passionate,
                                            professional and full creativity. Much more than i’m expect. Great
                                            services, high quality products & affordable prices. I’m extremly
                                            satisfied!. ”</div>
                                        <div class="testimonial-block_one-rating">
                                            5.0 &nbsp;
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <!-- Testimonial Block One -->
                                <div class="testimonial-block_one">
                                    <div class="testimonial-block_one-inner">
                                        <div class="testimonial-block_one-author">
                                            <div class="testimonial-block_one-author_image">
                                                <img src="{% static 'assets/images/resource/author-1.jpg' %}" alt="" />
                                            </div>
                                            Bradley Gordon
                                            <span>CEO & Founder, Archin Studio</span>
                                        </div>
                                        <div class="testimonial-block_one-text">“ A studio with passionate,
                                            professional and full creativity. Much more than i’m expect. Great
                                            services, high quality products & affordable prices. I’m extremly
                                            satisfied!. ”</div>
                                        <div class="testimonial-block_one-rating">
                                            5.0 &nbsp;
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Slider One Arrows -->
                        <div class="testimonial-one_arrow">
                            <!-- If we need navigation buttons -->
                            <div class="testimonial-one_carousel-prev fas fa-angle-left fa-fw"></div>
                            <div class="testimonial-one_carousel-next fas fa-angle-right fa-fw"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial One -->