{% load static %}
<!-- Video One -->
<section class="video-one">
    <div class="video-one_bg" style="background-image:url({% static 'assets/images/background/pattern-4.png' %})"></div>
    <div class="auto-container">
        <!--Video Box-->
        <div class="video-box">
            <figure class="video-image">
                <img src="{% static 'assets/images/resource/video-img.jpg' %}" alt="">
            </figure>
            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video overlay-box"><span><img
                        src="{% static 'assets/images/icons/play.png' %}" alt="" /><i class="ripple"></i></span></a>
        </div>
    </div>
</section>
<!-- End Video One -->